body{
  background-image: url(../images/background.jpg);
  background-size: cover;
  background-repeat: no-repeat;

}


.board{
  display: flex;
  justify-content: center;
  margin-left: 265px;
  margin-top: 5px;
}

.img{
  display: none;
}

#game-canvas{
 background: rgba(255,255,255,0.5);
}

.game-title{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

#title-one{
  font-family: 'Press Start 2P', cursive;
  color: white;
  text-shadow: -1px -1px 0 #1f28d0, 1px -1px 0 #000, -1px 1px 0 #1f28d0, 1px 1px 0 #1f28d0;
  padding: 0px;
  margin: 0px;
}


#title-two{
  font-family: 'Staatliches', cursive;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
  color: yellowgreen;
  font-size: 54px;
  padding: 0px;
  margin: 0px;
}


.middle-page{
  display: flex;
  
}

.instructions{
  display: flex;
  align-items: center;
  margin-left: 25px;
  font-size: 20px;
} 

.instructions div{
  background: rgba(255,255,255,0.5);
  height: 175px;
  width: 175px;
  font-family: 'Staatliches', cursive;
  padding: 11px;
}

.social-links{
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

.social-links div{
  background: rgba(255,255,255,0.5);
  padding: 3px;
  font-family: 'Staatliches', cursive;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-left: 21px;
  padding-right: 16px;
  padding-top: 8px;
}

.social-links i{
  font-size: 30px;
}