body{
  background-image: url(../images/background.jpg);
  background-size: cover;
  background-repeat: no-repeat;

}

.game-title{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

#title-one{
  font-family: 'Press Start 2P', cursive;
  color: white;
  text-shadow: -1px -1px 0 #1f28d0, 1px -1px 0 #000, -1px 1px 0 #1f28d0, 1px 1px 0 #1f28d0;
  padding: 0px;
  margin: 0px;
}

#title-two{
  font-family: 'Staatliches', cursive;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
  color: yellowgreen;
  font-size: 54px;
  padding: 0px;
  margin: 0px;
}

.middle-page{
  display: flex;
  justify-content: center;
  margin-top: 15px;
}

.board{
  display: flex;
  justify-content: center;
  margin-left: 230px;
  margin-top: 5px;
}

#game-canvas{
 background: rgba(255,255,255,0.5);
}

/* .img{
  display: none;
} */


.instructions-box{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-left: 25px;
  font-size: 20px;
} 

.instructions {
  background: rgba(255,255,255,0.5);
  height: 175px;
  width: 175px;
  font-family: 'Staatliches', cursive;
  padding: 11px;
}

.game-control{
  display: flex;
  justify-content: space-around;
  background: rgba(255,255,255,0.5);
  height: 25px;
  width: 197px;
  margin-top: 5px;
}

.game-control button{
  border: none;
  background: none;
  font-family: 'Staatliches', cursive;
  font-size: 20px;
}



.social-links{
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

#link{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: black;
}

.social-links div{
  background: rgba(255,255,255,0.5);
  padding: 3px;
  font-family: 'Staatliches', cursive;
  padding-left: 21px;
  padding-right: 16px;
  padding-top: 8px;
}

.social-links i{
  font-size: 30px;
}